
{% extends 'layout.html' %}

{% block content %}

<form id="FormularioForm" class="Formulario" action="/asistencia" method="POST">
    <label for="nie">NIE</label>
    <input type="text" id="nie" name="nie" autofocus required>
    
    <button type="submit">Registrar</button>
</form>


<script>
    let typingTimer;                
    const doneTypingInterval = 250; 

    const input = document.getElementById('nie');


    input.addEventListener('keyup', () => {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(() => {
            document.getElementById('FormularioForm').submit(); 
        }, doneTypingInterval);
    });

    input.addEventListener('keydown', () => {
        clearTimeout(typingTimer);
    });
</script>

{% endblock %}
