
    {% extends 'layout.html' %}
    {% block content %}
    <div class="form-container">
        <h1 class="form-title">Registro de Asistencia </h1>
        <form id="FormularioForm" class="Formulario" action="/asistencia" method="POST">
            <div class="form-group">
                <label for="nie" class="form-label">NIE</label>
                <input type="text" id="nie" name="nie" class="form-input" autofocus required>
            </div>
            <button type="submit" class="form-button">Registrar</button>
        </form>
    </div>

    <script>
        function isMobileDevice() {
            return window.matchMedia("(max-width: 768px)").matches;
        }

        let typingTimer;
        const doneTypingInterval = 250;
        const input = document.getElementById('nie');

        if (!isMobileDevice()) {
            input.addEventListener('keyup', () => {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(() => {
                    document.getElementById('FormularioForm').submit();
                }, doneTypingInterval);
            });

            input.addEventListener('keydown', () => {
                clearTimeout(typingTimer);
            });
        }

        window.addEventListener('resize', () => {
            if (isMobileDevice()) {
                input.removeEventListener('keyup', null);
                input.removeEventListener('keydown', null);
            }
        });
    </script>
    {% endblock %}

</html>