<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>

    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        span{
            font-size: 90px;
            font-weight: 900;
        }

        p{
            font-size: 25px;
        }
    </style>

    <span>LA URL NO EXISTE.</span>
    <p>Revisa si la url es la correcta</p>
    <p style="font-size: 15px;">comunicarse con un superior o soporte si la url esta bien. </p>
    
</body>
</html>