{% extends 'layout.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="Formulario">
  <form method="POST">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" required>

      <label for="nie">NIE:</label>
      <input type="text" name="nie" required>

      <label for="edad">Edad:</label>
      <input type="number" name="edad" required>

      <label for="año">Año:</label>
      <select name="año" required>
          {% for año in anios %}
          <option value="{{ año }}">{{ año }}</option>
          {% endfor %}
      </select>

      <label for="codigo">Código:</label>
      <input type="text" name="codigo" required>

      <label for="dui">DUI del Padre:</label>
      <select name="dui" required>
          {% for dui in duis %}
          <option value="{{ dui }}">{{ dui }}</option>
          {% endfor %}
      </select>

      <label for="seccion">Sección:</label>
      <select name="seccion" required>
          {% for seccion in secciones %}
          <option value="{{ seccion }}">{{ seccion }}</option>
          {% endfor %}
      </select>

      <button type="submit">Registrar Estudiante</button>
  </form>
</div>

{% endblock %}
