{% extends 'layout.html' %}

{% block content %}

<div class="Formulario card shadow-lg">
    <div class="card-header">
        <h2 class="card-title text-center">Registro de Estudiante</h2>
    </div>
    
    <form method="POST" action="/estudiantes" class="card-body">
        <div class="form-group">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="nie" class="form-label">NIE:</label>
            <input type="text" name="nie" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="edad" class="form-label">Año de nacimiento</label>
            <input type="number" name="edad" class="form-control" placeholder="2005" required>
        </div>

        <div class="form-group">
            <label for="año" class="form-label">Año:</label>
            <select name="año" class="form-control" required>
                {% for año in anios %}
                <option value="{{ año }}">{{ año }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="codigo" class="form-label">Código:</label>
            <input type="text" name="codigo" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="seccion" class="form-label">Sección:</label>
            <select name="seccion" class="form-control" required>
                {% for seccion in secciones %}
                <option value="{{ seccion }}">{{ seccion }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="genero" class="form-label">Género:</label>
            <select name="genero" class="form-control" required>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>

        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary hover-lift">Registrar Estudiante</button>
        </div>
    </form>
</div>
{% endblock %}