{% extends 'layout.html' %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>

        <div class="ina-content-wrapper">
            <div class="ina-card">
                <div class="ina-logo-container">
                    <img src="{{url_for('static', filename='img/LogoInaSinFondo.png')}}" alt="Logo De Ina">
                </div>
                <div class="ina-titulos">
                    <h1>INSTITUTO NACIONAL DE APOPA</h1>
                    <div class="ina-divider"></div>
                    <p>Hacia el Desarrollo y el Progreso, a través de la Educación</p>
                </div>
            </div>
        </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menuToggle = document.querySelector('.menu-toggle');
            const nav = document.querySelector('nav');
    
            if (menuToggle && nav) {
                menuToggle.addEventListener('click', function () {
                    menuToggle.classList.toggle('active');
                    nav.classList.toggle('active');
                    menuToggle.setAttribute('aria-expanded', menuToggle.classList.contains('active'));
                });
    
                // Close menu on link click
                const navLinks = nav.querySelectorAll('a');
                navLinks.forEach(link => {
                    link.addEventListener('click', () => {
                        menuToggle.classList.remove('active');
                        nav.classList.remove('active');
                        menuToggle.setAttribute('aria-expanded', 'false');
                    });
                });
    
                // Close menu on outside click
                document.addEventListener('click', function(event) {
                    if (!nav.contains(event.target) && !menuToggle.contains(event.target)) {
                        menuToggle.classList.remove('active');
                        nav.classList.remove('active');
                        menuToggle.setAttribute('aria-expanded', 'false');
                    }
                });
            }
        });
    </script>
{% endblock %}