<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/LogoInaSinFondo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>{{ web_name }} - Instituto Nacional De Apopa INA</title>
</head>
<body>

    <header>
        <div class="container">
          <div class="logo-box">
            <a href="/">
              <img src="{{url_for('static', filename='img/LogoInaSinFondo.png')}}" alt="Logo del Ina">
            </a>
          </div>
          <nav>
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="/padres">registro de padre</a></li>
            <li><a href="/estudiantes">Registro de alumno</a></li>
            <li><a href="/secciones">Seccion</a></li>
            <li><a href="/administracion">Administración</a></li>
            <li><a href="/asistencia">Asistencia</a></li>
            <li><a href="/salida">Salida</a></li>
         </ul>
        </nav>
        </div>
      </header>
      

    {% block content %}
    
    {% endblock %}
</body>
</html>